<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="verbose" value="true"/>
    <!--<arg name="world_name" value="$(find ros_workshop)/worlds/boxes.world"/>-->
    <arg name="paused" value="false"/>
    <arg name="gui" value="false"/>
  </include>

  <node name="mavros" pkg="ros_workshop" type="fake_mavros_node" output="screen">
    <param name="gz_setpoint_topic" value="~/drone/setpoint"/>
    <param name="gz_yaw_topic" value="~/drone/yaw"/>
    <param name="gz_pose_topic" value="~/drone/pose"/>
  </node>
  <node name="simulator" pkg="ros_workshop" type="simulator.py" output="screen"/> 
</launch>
